.idea/
*.ims
*.iml

.factorypath
.settings/
.apt_generated/

bin/
out/

.DS_Store
classes/

online_formatter/out.yml

.intellijPlatform/

website/node_modules
release-ktfmt-website/

### Gradle ###
.gradle
**/build/
!src/**/build/

# Native Image profiles are large
core/src/main/native-image/profiles/*.iprof

