.gradle/
ktfmt_idea_plugin/build/
.idea/
*.ims
*.iml

.classpath
.project
.factorypath
.settings/
.apt_generated/

target/

bin/
out/

.DS_Store
classes/

online_formatter/build/
online_formatter/out.yml

website/node_modules
release-ktfmt-website/
