.idea/
*.ims
*.iml

.classpath
.project
.factorypath
.settings/
.apt_generated/

target/

bin/
out/

.DS_Store
classes/

online_formatter/out.yml

.intellijPlatform/

website/node_modules
release-ktfmt-website/

### Gradle ###
.gradle
**/build/
!src/**/build/
